# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# Maven
out
.idea/
saves

### IntelliJ IDEA ###
*.iws
*.iml
*.ipr

# Java error logs
hs_err_pid*.log
hs_err_pid*.jfr