target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

target
out
.idea/
saves

### IntelliJ IDEA ###
*.iws
*.iml
*.ipr

# Java error logs
hs_err_pid*.log
hs_err_pid*.jfr